body{
    margin: 0%;
      
}
html{
    background: url("./Kratos.jpg") no-repeat center center fixed;
    background-size:cover;
}
    

#Story{
    text-align: center;
}
#God{
    text-align: center;
    width:100%;
    
    
}

#God3{
    text-align:center;
    
}
#DEUSES{
    text-align:center;
    width: 100%;
    height: 200%;
    
    
}
#GOD3{
    height:10%;
}
#Hades{
    text-align: center;
    width:10%;
    height: 30%;  
}


#TITAS{
    text-align: center;
    width:100%;
    height: 200%;
    
}
#God4{
    text-align:center;
    background-size: contain;
}


 
 nav{
     
    display: inline-flex;
padding: 1px 1px 1px 0.2em;

border-left: 3px solid white;
border-right: 3px solid white;
background-color: red ;
color: #808000;
text-decoration: none;


 }
 .Centralizar{
     text-align: center;
 }
.Tamanho{
 width: 200px;
 
}
#Quebra{
    display:inline-block ;
}

    

 nav a:hover {
border-right: 5px solid red;
background-color: white;
color: red;
    
 }
 h1{
     color: white;
 }